body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(https://wallpaperaccess.com/full/1467809.jpg);
    

}
h2{
    font-size: 5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(18, 10, 1);
    

}
#container{
    font-size: 4rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    border: solid 2px;
    border-radius: 50px;
    padding: 30px 35px;
    background-color: rgb(187, 191, 194);
    

}
#display
{
    font-size: 5rem;
    font-family: monospace;

}
#controls button{
    font-size: 25px;
    
    border-radius: 10px;
    padding: 5px 8px;
    margin: 5px;
    cursor: pointer;
    color: rgb(218, 213, 213);

}
#startbtn{
 background-color: green;
}
#startbtn:hover{
    background-color: rgb(19, 237, 19);
}
#stopbtn{
 background-color: rgb(159, 3, 19);
}#stopbtn:hover{
 background-color: rgb(248, 17, 17);
}
#restartbtn{
 background-color: rgb(3, 51, 162);
}
#restartbtn:hover{
 background-color: rgb(30, 93, 240);
}